{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
添加分类
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>
            添加分类
        </h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form role="form" action="{% url 'add_category' %}" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label> <!--{{ field.label }}只有名称，而无<label>标签-->
                    <span class="text-danger">{{ field.errors }}</span>
                    {{ field }}
                    <span class="text-info">{{ field.help_text|safe }}</span>
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit" name="submit">添加分类</button>
            </form>
        </div>
    </div>
{% endblock %}